.gobi-edit {
  width: 100%;
  min-height: 100px;
  text-align: center;
  background-color: #eeeeee;
}

.gobi-placeholder {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

.gobi-placeholder img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
